.form__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form__address {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.form__container input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.form__button {
  background-color: #5e6e11;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  width: 100px;
}

.form__button:hover {
  box-shadow: 5px 5px 15px 5px #b6b6b6;
}
