.date-picker__container {
    width: 250px;
}

.date-picker__header {
    display: flex;
    justify-content: space-between;
}

.date-picker__select {
    border-style: none;
    background-color: #f0f0f0;
}
